/* CSS declarations go here */
html,body {
	height: 100%;
	margin:0;
	padding:0;
}

#marauder_map {
	width: 100%;
	height: 100%;
}

.top_of_map {
	position: absolute;	
	border: 3px solid #bbb;
	border-radius: 5px;
	background-color: white;
	z-index: 100;
}
div.topbuttons {
	padding: 5px;
/*	width: 400px;
	height: 8em;
*/	left: 10px;
	top: 10px;
	opacity:0.5;
}
div.topbuttons:hover {
	opacity:1.0;
}
div.topbuttons .btn-group {
	white-space: normal;
}
modal {
	/*display:none;*/
	left:25%;
	top:15%;
	padding:1em;
	width:50%;
	/*text-align: center;*/
}
#overlay {
	padding: 5px;
	right: 50px;
	bottom:10px;
	width: 400px;
	height: 360px;
}

div.reactive-hidden {
	display: none;
}

div.button-toggles {
	
}
input.friend-request {
	/*display: none;*/
}
/*#login-dropdown-list {
	position: relative;
	left: 10px;
	top: 2px;
}*/
.error {
	color: red;
}

div.links {
	position: absolute;
	bottom: 5px;
	width: 98%;
}
div.friends {
	overflow: auto;
	height: 170px;
	/*padding:0 20px;*/
	/*margin:0;*/
	font-size: 12px;
}
.btn-group > .btn {
	font-size: 10px;
}
label.tracking {
    display: inline-block;
    margin-left: 5px;
}
a.updateFriends {
	font-size: 11px;
}
a.showuserlocation.offline {
	color: #aaa;
}
a.showuserlocation.online {
	color: green;
}
#userCount {
	display: none;
}